<nav class="navbar navbar-custom navbar-expand-lg" id = "heading">
    <div class="container-fluid heading" id = "navigation">
      <a class="navbar-brand" href="/">Nova Lang</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" >
          <a class="nav-link active" id = "heading" aria-current="page" href="/nova">Nova</a>
          <a class="nav-link " id = "heading" href="/tutorial">Test the Authorization</a>
        </div>
        
      </div>
      <div class="navbar-nav ml-auto">
        <% if(!currentUser){ %>
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <% } else {%>
        <a class="nav-link" href="/profile">Profile</a>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </nav>

<!-- I literally don't know how to move this 

  <header>
    <button class="darkmode" title="darkmode switch" aria-hidden="true"></button>
</header>
 -->