<nav class="navbar navbar-custom navbar-expand-lg" id = "heading">
    <div class="container-fluid heading" id = "navigation">
      <a class="navbar-brand" href="/">Nova Lang</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id = "minn">
          <a class="nav-link active" id = "heading" aria-current="page" href="/nova">Nova</a>
          <a class="nav-link " id = "heading" href="/tutorial">Tutorial</a>
          <a class="nav-link " id = "heading" href="/wrong">Writer 3 </a>
          <header>
            <button class="darkmode" title="darkmode switch" aria-hidden="true"></button>
          </header>
        </div>
      </div>
    </div>
  </nav>