h1{
    color:blue
}

#text{
    height: 50vh;
    margin: 2vh auto;
    inline-size: 70%;
    overflow: scroll;
    /*overflow-wrap: break-word; */
    font-size: 8.5em;
    background-color: powderblue;
}