/* austen edit test */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,300&display=swap');

/* austen teach */

h1{
  color:blue;
  font-family: 'Montserrat', sans-serif;
}

* {
  text-align: center;
}

body {
  text-align: center;
  overflow-x: none;
}

#text{
  margin: 2vh auto;
  inline-size: 70%;
  overflow-y: scroll;
  overflow-x: none;
  height:45vh;
  /*overflow-wrap: break-word; */
  background-color: #FBFBFF;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.header{
  font-family: 'Montserrat', sans-serif;
}

#tryingtocenterthiszoomthinghelpp {
  display: flex;
  justify-content: center;
  text-align: center;
}


#text-corpus {
  font-size: 5vw;
  scroll-behavior: smooth;
}

#textBody, #modifyList{
  display:none;
}

ul {
  margin-top: 5vw;
}

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
  text-decoration:none;
  color:#8C730C;
  display: inline;
}

td #answers {
  padding: 2.5vw;
}

li{
  display: inline;
  padding: 2.5vw;
  font-family:'Montserrat', sans-serif;
  font-weight:500;
}
a.option1 {
  display: inline-block;
  background-color: #41e686;
  border-radius: 10px;
  border: 4px double #3C0753;
  color:#000000;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 225px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}
a.option2 {
  display: inline-block;
  background-color: #e64141;
  border-radius: 10px;
  border: 4px double #3C0753;
  color:#000000;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 225px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}
a.option3 {
  display: inline-block;
  background-color: #9273f6;
  border-radius: 10px;
  border: 4px double #3C0753;
  color:#000000;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 225px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}

a span.options {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


#div_top_hypers {
  background-color:#eeeeee;
  display:inline;      
}

#ul_top_hypers li{
    display: inline;
}



body.darkmode{
  background-color:#292C2C;
  color:#fff;
}
header .darkmode{
  position:absolute;
  right:2rem;
  top:2rem;
  width:4rem;
  height:1.5rem;
  border-radius:500px;
  border:2px solid #888;
  background-color:transparent;
  cursor:pointer;
  appearance:none;
}
header .darkmode::before{
  content:'';
  position:absolute;
  left:4px;
  top:50%;
  width:1rem;
  height:1rem;
  background-color:#888;
  border-radius:50%;
  transform:translateY(-50%);
}
header .darkmode.active::before{
  left:auto;
  right:4px;
}
#text.darkmode{
background-color: #1E1F20;
}
.navbar-custom.darkmode{
background-color: #9A9797;
color: white;
}