/* austen edit test */

/* austen teach */

h1{
    color:blue
}

*{
    text-align: center;
}

#text{
    margin: 2vh auto;
    inline-size: 70%;
    overflow: scroll;
    height:45vh;
    /*overflow-wrap: break-word; */
    background-color: powderblue;
}

#text-corpus {
    font-size: 5vw;
}


a.options {
    display: inline-block;
    background-color: #3C0753;
    border-radius: 10px;
    border: 4px double #3C0753;
    color:#8C730C;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 225px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
  }
  a span.options {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  a span:after.options {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  a:hover.options {
    background-color: #400e55;
    color:#E6D8A0;
    border: 4px double #D5C069;
  }
  a:hover span.options {
    padding-right: 25px;
  }
  a:hover span:after.options {
    opacity: 1;
    right: 0;
  }