<% layout('layouts/boilerplate') %>
<!DOCTYPE html>
    <style>

        /* DO NOT MOVE ALL DIS TO THE CSS PAGE PLEASEEEE I DONT WNAT MY BRAIN TO OVERLOADDD */

        /* MISC. */
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: rgba(150,150,150,0.45); 
            border-radius: 25px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgba(150,150,150,0.85); 
        }
        


        /* BODY */

        body {
            text-align: center;
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
        }

        #border {
            margin-top: 5vw;
            border: 0.35vw solid #000;
            border-radius: 5vw;
            padding: 5vw;
        }

        #border hr {
            margin-top: 5%; margin-bottom: 5%;
            /* height: 0.25vw; */
            border: 0.15vw solid black;
            border-radius: 1vw;
            color: rgba(0,0,0,1);
            background-color: rgba(0,0,0,1);
            text-align: center;
            opacity: 1;
        }



        /* TEXT */

        #border h1 {
            font-size: 5em;
        }

        #border h2 {
            font-size: 3.5em;
            text-decoration: underline;
        }

        #border h3 {
            font-size: 2em;
        }

        

        /* LEVELS */

        #border table {
            display: flex;
            justify-content: center;
        }

        /* SORT */

        #sortByText {
            font-size: 1.5em;
        }

        #categorySwitcher td {
            padding: 1vw;
            padding-left: 5vw; padding-right: 5vw;
        }

        #categorySwitcher button {
            width: 15vw; height: 5vw;
            border: 0.35vw solid black;
            border-radius: 1vw;
            background-color: #fff;
            transition: 0.3s;
        }

        #categorySwitcher button:hover {
            transform: scale(1.1);
            border: 0.5vw solid black;
            border-radius: 1vw;
            background-color: #ddf5f9;
        }

        /* CATEGORIES TABLE */

        .categoryTable td {
            padding: 1vw;
            padding-left: 5vw; padding-right: 5vw;
        }

        #levelItem a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            border: 0.35vw solid black;
            border-radius: 1vw;
            width: 15vw; height: 5vw;

            color: black;
            text-decoration: none;

            transition: 0.3s;
        }

        #levelItem a:hover {
            transform: scale(1.1);
            border: 0.6vw solid black;
            background-color: #ddf5f9;
        }




        /* CATEGORIES */
        #cat1_DIV {
            visibility: visible;
        }

        #cat2_DIV {
            visibility: hidden;
        }

        #cat3_DIV {
            visibility: hidden;
        }




    </style>

    <div id="border" style="margin-top: 2vw;">

        <h1><strong>WELCOME TO <i>NovaLang</i>!</strong></h1>

        <br><br><hr><br><br>

        <h3>Nova Lang is a web-application that simulates social situations through the usage of a large language model (LLM) trained on famous texts, designed to help kids improve writing and communication skills by using works of famous authors.</h3>
        
    </div>
    
    <div id="border">
        <h2><strong>LEVELS</strong></h2>
        
        <br><br>

        <p id="sortByText">Sort By:</p>

        <br>

        <table>
            <tr id="categorySwitcher">
                <td><button onclick="filterCat1()">Authors</button></td>
                <td><button onclick="filterCat2()">Pieces</button></td>
                <td><button onclick="filterCat3()">Genres</button></td>
            </tr>
        </table>

        <br><br><hr><br><br>

        <div id="cat1_DIV">
            <p id="sortByText"><i><u>Authors</u></i></p>
            <br>
            <table class="categoryTable">
                <tr>
                    <td><div id="levelItem"><a href="/shakespeare">William Shakespeare</a></div></td>
                    <td><div id="levelItem"><a href="/decervantes">Miguel de Cervantes</a></div></td>
                    <td><div id="levelItem"><a href="/oda">Eiichiro Oda</a></div></td>
                </tr>
            </table>
        </div>
        
        <div id="cat2_DIV">
            <p id="sortByText"><i><u>Pieces</u></i></p>
            <br>
            <table class="categoryTable">
                <tr>
                    <td><div id="levelItem"><a href="/shakespeare/hamlet">Hamlet</a></div></td>
                    <td><div id="levelItem"><a href="/decervantes/donquixote">Don Quixote</a></div></td>
                    <td><div id="levelItem"><a href="/oda/onepiece">One Piece</a></div></td>
                </tr>
            </table>
        </div>

        <div id="cat3_DIV">
            <p id="sortByText"><i><u>Genres</u></i></p>
            <br>
            <table class="categoryTable">
                <tr>
                    <td><div id="levelItem"><a href="/plays">Plays</a></div></td>
                    <td><div id="levelItem"><a href="/fictionbook/adventure">Fiction Book (Adventure)</a></div></td>
                    <td><div id="levelItem"><a href="/graphicnovelmanga">Graphic Novel / Manga</a></div></td>
                </tr>
            </table>
        </div>

    </div>

    <script>
        let cat1_div = document.getElementById("cat1_DIV");
        let cat2_div = document.getElementById("cat2_DIV");
        let cat3_div = document.getElementById("cat3_DIV");

        // visibility: hidden;
        // visibility: visible;

        function filterCat1(){
            cat1_div.style="visibility: visible";
            cat2_div.style="visibility: hidden";
            cat3_div.style="visibility: hidden";
        }

        function filterCat2(){
            cat1_div.style="visibility: hidden";
            cat2_div.style="visibility: visible";
            cat3_div.style="visibility: hidden";
        }

        function filterCat3(){
            cat1_div.style="visibility: hidden";
            cat2_div.style="visibility: hidden";
            cat3_div.style="visibility: visible";
        }

    </script>