<% layout('layouts/boilerplate') %>
<!DOCTYPE html>
    <style>

            /* DO NOT MOVE ALL DIS TO THE CSS PAGE PLEASEEEE I DONT WNAT MY BRA IN TO OVERLOADDD */

        body {
            text-align: center;
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
        }

        #border {
            margin-top: 2%;
            border: 0.35vw solid #000;
            border-radius: 5vw;
            padding: 5vw;
        }

        #border hr {
            margin-top: 5%; margin-bottom: 5%;
            /* height: 0.25vw; */
            border: 0.15vw solid black;
            border-radius: 1vw;
            color: rgba(0,0,0,1);
            background-color: rgba(0,0,0,1);
            text-align: center;
            opacity: 1;
        }

        #border h1 {
            font-size: 5em;
        }

        #border h3 {
            font-size: 2em;
        }

        



    </style>

    <div id="border">

        <h1>WELCOME to NOVA LANG!</h1>

        <br>
        <hr>
        <br>

        <h3>Nova Lang is a web-application that simulates social situations through the usage of a large language model (LLM) trained on famous texts, designed to help kids improve writing and communication skills by using works of famous authors.</h3>
        

    </div>
    