<% layout('layouts/boilerplate') %>
<!DOCTYPE html>
    <h1>WELCOME to NOVA LANG!</h1>
    <h3>Nova Lang is a web-application that simulates social situations through the usage of a large language model (LLM) trained on famous texts, designed to help kids improve writing and communication skills by using works of famous authors.</h3>
