<% layout('layouts/boilerplate') %>
<!DOCTYPE html>
    <style>

        /* DO NOT MOVE ALL DIS TO THE CSS PAGE PLEASEEEE I DONT WNAT MY BRAIN TO OVERLOADDD */

        /* MISC. */
        ::-webkit-scrollbar {
            width: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: rgba(150,150,150,0.45); 
            border-radius: 25px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgba(150,150,150,0.85); 
        }
        


        /* BODY */

        body {
            text-align: center;
 
        }

        #border {
            margin-top: 5vw;
            border: 0.35vw solid #000;
            border-radius: 5vw;
            padding: 5vw;
            background: #FBFBFF;
        }

        #border hr {
            margin-top: 5%; margin-bottom: 5%;
            /* height: 0.25vw; */
            border: 0.15vw solid black;
            border-radius: 1vw;
            color: rgba(0,0,0,1);
            background-color: rgba(0,0,0,1);
            text-align: center;
            opacity: 1;
        }



        /* TEXT */

        #border h1 {
            font-size: 5em;
        }

        #border h2 {
            font-size: 3.5em;
            text-decoration: underline;
        }

        #border h3 {
            font-size: 2em;
        }

        

        /* LEVELS */

        #border table {
            display: flex;
            justify-content: center;
        }

        /* SORT */

        #sortByText {
            font-size: 1.5em;
        }

        #categorySwitcher td {
            padding: 1vw;
            padding-left: 5vw; padding-right: 5vw;
        }

        #categorySwitcher button {
            width: 15vw; height: 5vw;
            border: 0.35vw solid black;
            border-radius: 1vw;
            background-color: #fff;
            transition: 0.3s;
        }

        #categorySwitcher button:hover {
            transform: scale(1.1);
            border: 0.5vw solid black;
            border-radius: 1vw;
            background-color: #ddf5f9;
        }

        /* CATEGORIES TABLE */

        .categoryTable td {
            padding: 1vw;
            padding-left: 5vw; padding-right: 5vw;
        }

        #levelItem a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            user-select: none;

            border: 0.35vw solid black;
            border-radius: 1vw;
            width: 15vw; height: 5vw;

            color: black;
            text-decoration: none;

            transition: 0.3s;
        }

        #levelItem a:hover {
            transform: scale(1.1);
            border: 0.6vw solid black;
            background-color: #ddf5f9;
        }

        #promptTextBox {
            width: 45vw;
            height: 2vw;
            font-size: 1.5em;
        }



    </style>
    

    <div id="border" style="margin-top: 2vw;">

        <h1><strong>WELCOME TO <i>NovaLang</i>!</strong></h1>

        <br><br><hr><br><br>

        <h3>Nova Lang is a web-application that simulates social situations through the usage of a large language model (LLM) trained on famous texts, designed to help kids improve writing and communication skills by using works of famous authors.</h3>
        
    </div>
    
    <div id="border">
        <h2><strong>LEVELS</strong></h2>
        
        <br><br>

        <p id="sortByText">Difficulty:</p>

        <br>

        <table>
            <tr id="categorySwitcher">
                <td><button id="diff_easy" onclick="diff_easy()">Easy</button></td>
                <td><button id="diff_med" onclick="diff_med()">Medium</button></td>
                <td><button id="diff_hard" onclick="diff_hard()">Hard</button></td>
            </tr>
        </table>

        <br><br><hr><br><br>

        <div>
            <p id="sortByText"><i><u>Authors</u></i></p>
            <br>
            <table class="categoryTable">
                <tr>
                    <td><div id="levelItem"><a id="author_shakespeare" onclick="author_shakespeare()" >William Shakespeare</a></div></td>
                    <td><div id="levelItem"><a id="author_decervantes" onclick="author_decervantes()">Miguel de Cervantes</a></div></td>
                    <td><div id="levelItem"><a id="author_oda" onclick="author_oda()">Eiichiro Oda</a></div></td>
                </tr>
            </table>
        </div>

        <br><br><hr><br><br>

        <div>
            <p id="sortByText"><i><u>Prompt</u></i></p>
            <br>
            <table class="categoryTable">
                <tr>
                    <td><input autocomplete="off" id="promptTextBox" type="text" name="prompt"><button style = "background-color:#000" onclick="submit()"><img id = "theImage" src = "https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTFHuZW2Xd8oXfiHJOBPhY4M45FOnMZTW98mGZErVF-DvQQtDoU" length = "45" width="30" height="25"></button></td>
                </tr>
            </table>
            
        </div>
        
    </div>

    <script>
        let diff_easy_id = document.getElementById("diff_easy");
        let diff_med_id = document.getElementById("diff_med");
        let diff_hard_id = document.getElementById("diff_hard");

        let author_shakespeare_id = document.getElementById("author_shakespeare");
        let author_decervantes_id = document.getElementById("author_decervantes");
        let author_oda_id = document.getElementById("author_oda");

        let arr_authors = [author_shakespeare_id, author_decervantes_id, author_oda_id];

        let promptTextBox_id = document.getElementById("promptTextBox");

        let difficulty = "easy"; //default to easy
        let author = "shakespeare"; //default to shakespeare
        let promptText = ""; //default to blank


        // CSS
        let selected_css = "border: 0.35vw solid limegreen; font-weight: bolder; font-size: 1.25em;";
        let unselected_css = "border: 0.35vw solid black; font-weight: normal; font-size: 1em;";

        // DIFFICULTY FUNCTIONS
        function diff_easy()
        {
            difficulty = "easy";
            diff_easy_id.style = selected_css;
            diff_med_id.style = unselected_css;
            diff_hard_id.style = unselected_css;
        }

        function diff_med()
        {
            difficulty = "medium";
            diff_easy_id.style = unselected_css;
            diff_med_id.style = selected_css;
            diff_hard_id.style = unselected_css;
        }

        function diff_hard(){
            difficulty = "hard";
            diff_easy_id.style = unselected_css;
            diff_med_id.style = unselected_css;
            diff_hard_id.style = selected_css;
        }


        // AUTHOR FUNCTIONS
        function author_shakespeare()
        {
            author = "shakespeare";
            for (let i = 0; i < arr_authors.length; i++){
                arr_authors[i].style = unselected_css;
            }
            author_shakespeare_id.style = selected_css;
        }

        function author_decervantes()
        {
            author = "decervantes";
            for (let i = 0; i < arr_authors.length; i++){
                arr_authors[i].style = unselected_css;
            }
            author_decervantes_id.style = selected_css;
        }

        function author_oda()
        {
            author = "oda";
            for (let i = 0; i < arr_authors.length; i++){
                arr_authors[i].style = unselected_css;
            }
            author_oda_id.style = selected_css;
        }
        // .....etc


        // SUBMIT
        function submit()
        {
            document.getElementById("theImage").src="https://blog.motionisland.com/wp-content/uploads/2019/09/After-Effects-Arrow-25.gif";

            // PROMPT
            promptText = promptTextBox.value;
            console.log(difficulty);
            console.log(author);
            console.log(promptText);


            // REDIRECT
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/nova_redirect', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    window.location.href = '/easy';
                }
            };

            var data = JSON.stringify({
                "diff" : difficulty,
                "auth" : author,
                "prmt" : promptText
            });

            console.log(data);

            xhr.send(data);

        }


    </script>