<% layout('layouts/boilerplate') %>

    <h1>Tutorial</h1>
            <h3>Using Nova Lang is simple!</h3>
            <ul>
                <li>Just choose your writer, one that suits your style the best</li>
                <li>Click on the correct answer of the three options!</li>
            </ul>
