/* austen edit test */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;1,300&display=swap');





/* Home Page*/

h1{
  font-size: 7em;
  font-family: 'Montserrat', sans-serif;
}

.whole{
  margin:  1em 7em;
}

.subhead{
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}


#register{
  position:absolute;
  right:0;
  display:inline-block;
}



#div_top_hypers {
  background-color:#eee;
  display:inline;      
}

#btn-guide{
  position: relative;
  top: -65vh;
  right: -74vw;

}

/* Animation */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1708041600&semt=ais') center center no-repeat;
  background-size: cover;
  opacity: 0;
  z-index: 9999;
  transition: opacity 1s ease-out;
  /* Add this line */
  display: none;
  /* Add this line */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
  ul {
    list-style-type: none;
  }
}